blinker==1.4
dataclasses>=0.6
dateutils==0.6.11
ffmpeg-python==0.2.0
Flask==1.1.2
Flask-Cors==3.0.9
flask-smorest==0.24.1
marshmallow==3.8.0
marshmallow-enum==1.5.1
mongoengine==0.20.0
numpy==1.19.2
PyJWT==1.7.1
pymongo==3.11.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-slugify==4.0.1
TextGrid==1.5
tqdm==4.49.0
Unidecode==1.1.1
